<h1>MarkLogic Sample Application</h1>
<hr>
<div class="well">
  <div class="text-center"><h4>Filters</h4></div>
  <div class="row">&nbsp;</div>
  <div class="well">
    <div class="row">&nbsp;</div>
    <div class="row">
      <label class="col-md-2">Clinic Name</label>
      <input class="col-md-9" type="text" ng-model="model.clinicNameFilter"/>
    </div>
    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <button class="col-md-1 add-feature" ng-click="addClinicNameFilter(model.clinicNameFilter)">Add</button>
      <hr>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <facets facet-list="model.search.facets" selected="model.selected" class="col-md-3"
          select="selectFacet(facet, value)" clear="clearFacet(facet, value)">
  </facets>
  <results result-list="model.search.results" total="model.search.total" current-page="model.currentPage"
           page-length="model.search['page-length']" start="model.search.start"
           paginate="pageChanged(page)" class="col-md-9 results"/>
</div>
