<div class="create" ng-show="model.user.authenticated">
  <div class="row">
    <div class="col-sm-2"></div>
    <h2 class="col-sm-10">Add Study</h2>
  </div>
  <form class="form-horizontal">

    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="study's name" ng-model="model.study.name">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Protocol</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="protocol" ng-model="model.study.protocol">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <h4 class="col-sm-10">Clinics</h4>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <div class="tag btn btn-info" ng-repeat="clinic in model.study.clinics">
          <div>{{clinic.name}}</div>
          <span class="glyphicon glyphicon-remove-circle" ng-click="alert('fill me in');"></span>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">Name</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.name"/>
      </div>

      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">Address1</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.addr1"/>
      </div>

      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">Address2</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.addr2"/>
      </div>

      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">City</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.city"/>
      </div>

      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">State</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.state"/>
      </div>

      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">Postal Code</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.postalCode"/>
      </div>

      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">P.I. First Name</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.investigatorFirstName"/>
      </div>

      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">P.I. Last Name</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.investigatorLastName"/>
      </div>

      <div class="row">
	<span class="col-sm-2"></span>
	<label class="col-sm-2 control-label">P.I. NPI Number</label>
        <input class="col-sm-7" type="text" ng-model="model.newClinic.investigatorNPI"/>
      </div>

      <div class="row">
	<span class="col-sm-4"></span>
        <button class="col-sm-1 add-feature" ng-click="addClinic()">Add</button>
      </div>
    </div>

    <div class="row">
      <a class="col-sm-offset-9 col-sm-1" href="/">Cancel</a>
      <button class="col-sm-2 btn btn-primary" ng-click="submit()">Submit</button>
    </div>
  </form>
</div>


